<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slt.comment.dao.CommentDAO">
	<insert id="commentInsert" parameterType="com.slt.entity.Comments">
		INSERT INTO COMMENTS_TB
		(B_SEQ,
		CMT_REF,
		CMT_REF_LEVEL,
		USER_ID,
		USER_NICK,
		CMT_CONTENT,
		CREATED_AT,
		CMT_PARENT)
		VALUES
		(#{b_seq},
		#{cmt_ref},
		#{cmt_ref_level},
		#{user_id},
		#{user_nick},
		#{cmt_content},
		NOW(),
		#{cmt_parent});
	</insert>
	<delete id="commentDelete">
		delete from COMMENTS_TB where CMT_SEQ=#{num}
	</delete>

	<select id="commentList" resultType="com.slt.entity.Comments">
		select * from COMMENTS_TB where B_SEQ=#{num}
	</select>
</mapper>