.tab-content-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.tab-content-box {
    width: 634px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border: 2px;
    border-style: solid;
    border-color: rgb(208, 208, 208);

    gap: 15px;

    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-image-box {
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
}
.icons{
    width: 100%;
    height: 100%;
  
    background-position: 50% 50%;
    background-size: 50% 50%;
  }
  .solar-power-icon{
    background-image: url('../../assets/image/solar-power.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
/* 알림내역의 원 */
.alarm-circle-icon-box {
    width: 15px;
    height: 15px;

    position: relative;

    right: 10px;
    bottom: 40px;
}

.image-box-circle {
    border-radius: 50%;
    position: relative;

    right: 20px;
}

.tab-text-content-box {

    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.alarm-tab-text-content-box {
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.alarm-tab {
    width: 50px;
}

.owned {
    width: 400px;
}

.tab-top-text-box {
    display: flex;
    flex-direction: row;

    gap: 15px;
}

.border-text-box {
    padding-inline: 13px;
    height: 27px;
    background-color: rgba(241, 241, 241, 1);
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.create-tab-border-box {
    position: relative;
    bottom: 5px;
}

.border-text {
    color: rgb(171, 171, 171);
    font-size: 16px;
    font-weight: 530;
    line-height: 140%;
}

.alarm-text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 550;
    line-height: 140%;

    position: relative;

    right: 20px;
}

.content-name {
    width: 240px;
    height: 26px;

    /* align-items: center; */

    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 550;
    line-height: 140%;

    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    overflow: hidden;
}

.tab-bottom-text-box {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.bottom-text {
    width: 400px;
    height: 20px;

    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(171, 171, 171);
    font-size: 14px;
    font-weight: 520;
    line-height: 140%;
}

.alarm-bottom-text {
    color: rgb(0, 0, 0);
    position: relative;

    right: 20px;
}

.create-tab-bottom {
    width: 300px;
    height: 20px;
}

.content-date {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(171, 171, 171);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

/* 발전소 설립 탭 */
.create-tab {
    position: relative;
    left: 14px;
}

/* 자유게시판 탭 */
.free-tab {
    position: relative;
    left: 61px;
}

.favorite-icon-box {
    width: 20px;
    height: 20px;

    position: relative;
    bottom: 27px;
    left: 20px;
}

.favorite-icon-box .icon {
    filter: opacity(0.2) drop-shadow(0 0 0 rgb(209, 209, 209));
}

.favorite-icon-box:hover .icon {
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(168, 197, 255));
}

.favorite-icon-box .icon-active {
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 85, 255));
}

.tab-content-button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-content-box {
    width: 25px;
    height: 25px;

    position: relative;
    bottom: 15px;
    left: 110px;
    color: rgb(56, 56, 56);

    display: flex;

    align-items: center;
}

.delete-content-box:hover {
    color: rgba(26, 117, 191, 1);
}

.delete-button {
    width: 100%;
    height: 100%;

    text-align: center;
}

.tab-content-edit-button-box {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(26, 117, 191, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.tab-content-edit-button-box:hover {
    background-color: rgba(26, 117, 191, 0.9);
}

.edit-button {
    color: rgba(241, 241, 241, 1);
}

.v-line {
    border-left: 1px solid rgb(195, 195, 195);
    height: 70px;
}

.alarm-tab-second-text-content-box {
    width: 150px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab-top-second-text-box {
    width: 400px;
    display: flex;
    flex-direction: row;

    gap: 120px;
}

.second-content-name {
    width: 100px;

    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 550;
    line-height: 140%;
}

.second-bottom-text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 550;
    line-height: 140%;
}

.second-inner-box {
    display: flex;
    flex-direction: row;
}

.second-inner-box-left {
    display: flex;
    flex-direction: column;
}

.second-inner-box-left-top {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.second-inner-box-text {
    color: rgb(156, 156, 156);
    font-size: 16px;
    font-weight: 550;
    line-height: 140%;
}

.second-inner-box-text-box {
    width: 140px;
    height: 22px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.second-inner-box-left-bottom {
    width: 200px;
    height: 22px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.accept-join-button-box {
    width: 80px;
    height: 40px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: rgba(26, 117, 191, 1);
    color: rgba(241, 241, 241, 1);
    font-size: 14px;

    top: 15px;
    left: 15px;
}

.accept-join-button-box:hover {
    background-color: rgba(26, 117, 191, 0.9);
}

.alarm-delete-content-box {
    width: 25px;
    height: 25px;

    position: relative;
    bottom: 40px;
    left: 130px;
    color: rgb(56, 56, 56);

    display: flex;

    align-items: center;
}

.alarm-delete-content-box:hover {
    color: rgba(26, 117, 191, 1);
}