.main-wrapper {
    width: 100%;
    height: 1800px;
}

.main-cover {
    width: 100%;
    height: 780px;

}

.main-cover-img {
    width: 100%;
    height: 745px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cover-img::before {
    content: "";
    background: url('../../assets/image/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.main-cover-text-box {
    margin: 0 200px 0 20px;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;

    position: relative;
    top: 100px;
    gap: 30px;
}

.main-cover-text {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 140%;
}

.main-cover-text-grey {
    position: relative;
    color: rgb(40, 40, 40);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.main-cover-button {
    z-index: 1;
    width: 200px;
    height: 58px;
    border-radius: 10px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 700;
    line-height: 140%;
    background: rgb(26, 117, 191);

    cursor: pointer;
}

.main-cover-button:hover {
    color: rgb(26, 117, 191);
    background: transparent;
    box-shadow: none;
}

.main-cover-button:before,
.main-cover-button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(26, 117, 191);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.main-cover-button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.main-cover-button:hover:before,
.main-cover-button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.main-middle-cover {
    width: 1200px;
    height: 800px;

    padding-left: 345px;
    padding-right: 100px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 5fr 6fr;
    column-gap: 78px;
}

.main-middle-left {
    display: flex;
    flex-direction: column;
    align-items: center;


    gap: 80px;
}

.main-middle-left-text-box {
    width: 430px;
    height: 300px;
    display: flex;
    flex-direction: column;
    
    padding-left: 90px;

    justify-content: center;
}

.main-left-text {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    line-height: 140%;
}
.main-left-text-light {
    position: relative;

    top: 50px;

    color: rgb(181, 181, 181);
    font-size: 18px;
    font-weight: 550;
    line-height: 140%;
}

.main-middle-left-button-box {
    width: 330px;
    height: 200px;

    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 50px;

    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;

    background: linear-gradient(to right, rgb(91, 172, 238), rgb(43, 33, 149));
}

.main-middle-left-button-text-light {

    color: rgb(255, 255, 255);
    position: relative;
    font-size: 20px;
    font-weight: 550;
    line-height: 140%;
}
.main-middle-left-button-text {

    color: rgb(255, 255, 255);
    position: relative;
    font-size: 25px;
    font-weight: 600;
    line-height: 140%;
}
.main-middle-left-button-text-link {

    color: rgb(255, 255, 255);
    position: relative;
    top: 60px;
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: underline;

    cursor: pointer;
}
.main-middle-left-icon{
    width: 150px;
    height: 150px;

    position: relative;
    bottom: 210px;
    left: 100px;

    background-image: url('../../assets/image/main_solar.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-middle-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main-middle-right-top-box{
    width: 225px;
    height: 320px;

    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 30px;

    gap: 20px;

    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;

    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.main-middle-right-top-icon{
    width: 60px;
    height: 60px;

    position: relative;

    margin-bottom: 50px;
    background-image: url('../../assets/image/main_map_sun.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-middle-right-bottom-box{
    width: 225px;
    height: 320px;

    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 30px;

    gap: 20px;

    position: relative;
    left: 330px;
    top: 50px;

    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;

    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.main-middle-right-bottom-icon{
    width: 60px;
    height: 60px;

    position: relative;

    margin-bottom: 50px;
    background-image: url('../../assets/image/main_repair.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-middle-right-light-text{
    color: rgb(131, 131, 131);
    position: relative;
    font-size: 15px;
    font-weight: 600;
    line-height: 140%;
}
.main-middle-right-light-text-link{
    color: rgb(131, 131, 131);
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    text-decoration: underline;

    cursor: pointer;
}
.main-middle-right-text{
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}